body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
    background-color: black;
    z-index: 100;
}
.header * {
    color: white;
    font-family: sans;
    font-weight: normal;
}
.header .back a {
    text-decoration: none;
    border-right: solid 2px #2a2a2a;
    margin-right: 4px;
    padding-right: 4px;                
}
.header .back {
    float:left;
}

/* GALLERY */
.header.photo_only, .gallery_holder.photo_only {
    z-index: -1;
    overflow-x: hidden;
    opacity: 0.01;
}

.photo_holder.photo_only {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    z-index: 9999999;    
}

.photo_only_toggle {
    color: #606060;
    font-size: 32px;
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #202020;
    color:#606060;
    border-radius: 6px;
}

.photo_holder .photo_only_toggle:active {
    color: #909090;
}

.gallery_holder {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow-x: scroll;       
}

.gallery {
    height: 130px;
    padding-top: 5px;
    width:auto;
    white-space: nowrap;
}
.gallery .data-title {
    display: none;
}
.gallery .photo {
    display: inline-block;
    cursor: pointer;
}
.gallery .current {
    background-color: #2a2a2a;
}
.gallery .thumb_holder {
    position: relative;
    height: 120px;
    width: 120px;
    line-height: 120px;
    overflow: hidden;
    border: solid 1px #2a2a2a;
}
.gallery .thumb_holder .thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* LIGHTBOX HACK */
.photo_holder {
    width: 100%;
    height:100%;
    padding-top: 100px;
    padding-bottom: 160px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.photo_holder .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display:inline-block;
    min-width: 132px;
    min-height: 132px;    
}

.photo_holder img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    background: url(../img/loading.gif) no-repeat;                
    background-position: center;
}

/* Controls */
.controls {    
    position: absolute;
    height: 100%;
    width: 100%;
}

.controls .next, .controls .prev {
    position: absolute;
    height: 100%;
    width:30%;
    min-width: 100px;
    z-index: 10;
}

.controls .arrow {
    width: 100%;
    height: 40px;

    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    vertical-align: middle;
    position: absolute;
    top:50%;    
    vertical-align: middle;
    font-weight: 100;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 40px;
}

.controls div:hover {
    color: rgba(255, 255, 255, 0.95);    
    cursor: pointer;
}

.controls div:active {
    color: rgba(225, 225, 225, 0.95);    
    cursor: pointer;
}

.controls .prev {
    left: 0px;
    text-align: left;

}

.controls .next {
    right: 0px;        
    text-align:right;

}

/* */
.photo_holder.overview {
    display:none;
}
.gallery_holder.overview {
    position: static;
    padding-top: 100px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    display: block;
}
.gallery_holder.overview .gallery {
    white-space: normal;
    height: auto;
}
.photo_holder .description .author {
    display: inline;
}

.photo_holder .description {
    position: absolute;
    color: white;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    width:100%;
    padding: 2px;
    font-family: sans-serif;
}

.photo_holder .description a {
    color: white;
}

.photo_holder .description .author {
    display: inline-block;
}