.map_icons.aboriginal{
    background: url(/img/icons.png) 0px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.accesdenied{
    background: url(/img/icons.png) -32px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.agritourism{
    background: url(/img/icons.png) -64px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.aircraftsmall{
    background: url(/img/icons.png) -96px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.air_fixwing{
    background: url(/img/icons.png) -128px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.airport{
    background: url(/img/icons.png) -160px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.algae{
    background: url(/img/icons.png) -192px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.alligator{
    background: url(/img/icons.png) -224px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.ant-export{
    background: url(/img/icons.png) -256px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.anthropo{
    background: url(/img/icons.png) -288px 0px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.apartment-3{
    background: url(/img/icons.png) 0px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.aquarium{
    background: url(/img/icons.png) -32px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.archery{
    background: url(/img/icons.png) -64px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.army{
    background: url(/img/icons.png) -96px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.art-museum-2{
    background: url(/img/icons.png) -128px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.atm-2{
    background: url(/img/icons.png) -160px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bank{
    background: url(/img/icons.png) -192px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bar{
    background: url(/img/icons.png) -224px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.battlefield{
    background: url(/img/icons.png) -256px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.battleship-3{
    background: url(/img/icons.png) -288px -37px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.beautifulview{
    background: url(/img/icons.png) 0px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bed_breakfast1-2{
    background: url(/img/icons.png) -32px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bigcity{
    background: url(/img/icons.png) -64px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.birds-2{
    background: url(/img/icons.png) -96px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.boat{
    background: url(/img/icons.png) -128px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bouddha{
    background: url(/img/icons.png) -160px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bread{
    background: url(/img/icons.png) -192px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bridge_modern{
    background: url(/img/icons.png) -224px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.bulldozer{
    background: url(/img/icons.png) -256px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.campfire-2{
    background: url(/img/icons.png) -288px -74px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.carrental{
    background: url(/img/icons.png) 0px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.cave-2{
    background: url(/img/icons.png) -32px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.chapel-2{
    background: url(/img/icons.png) -64px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.coffee{
    background: url(/img/icons.png) -96px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.construction{
    background: url(/img/icons.png) -128px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.deer{
    background: url(/img/icons.png) -160px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.dolphins{
    background: url(/img/icons.png) -192px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.drinkingwater{
    background: url(/img/icons.png) -224px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.fastfood{
    background: url(/img/icons.png) -256px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.glacier-2{
    background: url(/img/icons.png) -288px -111px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.hiking{
    background: url(/img/icons.png) 0px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.japanese-food{
    background: url(/img/icons.png) -32px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.japanese-lantern{
    background: url(/img/icons.png) -64px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.japanese-temple{
    background: url(/img/icons.png) -96px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.memorial{
    background: url(/img/icons.png) -128px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.mountains{
    background: url(/img/icons.png) -160px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_archeological{
    background: url(/img/icons.png) -192px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_art{
    background: url(/img/icons.png) -224px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_crafts{
    background: url(/img/icons.png) -256px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_industry{
    background: url(/img/icons.png) -288px -148px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_naval{
    background: url(/img/icons.png) 0px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_openair{
    background: url(/img/icons.png) -32px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_science{
    background: url(/img/icons.png) -64px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.museum_war{
    background: url(/img/icons.png) -96px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.photography{
    background: url(/img/icons.png) -128px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.police{
    background: url(/img/icons.png) -160px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.publicart{
    background: url(/img/icons.png) -192px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.radiation{
    background: url(/img/icons.png) -224px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_breakfast{
    background: url(/img/icons.png) -256px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_chinese{
    background: url(/img/icons.png) -288px -185px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_greek{
    background: url(/img/icons.png) 0px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_korean{
    background: url(/img/icons.png) -32px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_mexican{
    background: url(/img/icons.png) -64px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant{
    background: url(/img/icons.png) -96px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.restaurant_steakhouse{
    background: url(/img/icons.png) -128px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.riparianhabitat{
    background: url(/img/icons.png) -160px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.rodent{
    background: url(/img/icons.png) -192px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.sandwich-2{
    background: url(/img/icons.png) -224px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.seals{
    background: url(/img/icons.png) -256px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.shintoshrine{
    background: url(/img/icons.png) -288px -222px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.snakes{
    background: url(/img/icons.png) 0px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.spider{
    background: url(/img/icons.png) -32px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.statue-2{
    background: url(/img/icons.png) -64px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.steamtrain{
    background: url(/img/icons.png) -96px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.sumo-2{
    background: url(/img/icons.png) -128px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.theravadapagoda{
    background: url(/img/icons.png) -160px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.train{
    background: url(/img/icons.png) -192px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.treasure-mark{
    background: url(/img/icons.png) -224px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.university{
    background: url(/img/icons.png) -256px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.volcano-2{
    background: url(/img/icons.png) -288px -259px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.workshop{
    background: url(/img/icons.png) 0px -296px;
    width: 32px;
    height:37px;
    display:inline-block;
}
.map_icons.zoo{
    background: url(/img/icons.png) -32px -296px;
    width: 32px;
    height:37px;
    display:inline-block;
}
