/*
 * Globals
 */

@media (min-width: 601px) {

    .editor_controls {
        position: absolute;
        border: solid 1px silver;
        background-color: rgba(255, 255, 255, 0.67);
        top:100px;
        left:10px;
    }

    .blog-main {
        width: 75%;
    }

    .map.split {
        width:70%;
        height:100%;
    }

    .page.map .map_sidebar {
        padding-top:64px;
        width: 30%;
        height: 100%;
        top:0px;
        bottom:0px;
        box-shadow: -16px 0 10px -10px rgba(0, 0, 0, 0.1);                
    }        

    .page.map .map_sidebar .hide_button {
        margin-left: -26px;    
        box-shadow: -8px 6px 10px 0px rgba(0,0,0,0.1);
    }

    .blog-nav-item.narrow_menu {
        display: none;
    }

    #diary_toggle {
        display: inline-block;
    }

    #map_toggle {
        display: inline-block;
    }    

    .blog-nav-item.admin {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .blog-main {
        width: 100%;
    }

    .editor_controls {
        font-size: 20px;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }


    .blog-post {
        font-size: 16px;
    }
    
    .blog-post .footer {
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .blog-post .footer a {
        margin-left: 16px;
        margin-top: 8px;
    }    

    .blog-post .gallery {
        line-height: 0px;
        -webkit-column-count: 3;
        -webkit-column-gap:   0px;
        -moz-column-count:    3;
        -moz-column-gap:      0px;
        column-count:         3;
        column-gap:           0px;
    }    

    .ol-zoom {
        position: absolute;
        margin-top: 100px;
        right: .5em;
        left: auto;
    }

    .map.split {
        width:100%;
        height: 70%;
    }

    .page.map .map_sidebar {
        padding-top:16px;
        width: 100%;
        height: 30%;
        bottom: 0px;
        box-shadow: 0 -1px 16px 6px rgba(0,0,0,0.1)
    }    

    .page.map .map_sidebar .hide_button {
        margin-top: -42px;
        margin-left: 26px;
        box-shadow: 0 -10px 16px 6px rgba(0,0,0,0.1);
    }

    .trips_grid {
        width: 320px;
    }   

    .blog-nav-item.narrow_menu {
        display: inline-block;
    }

    .blog-nav-item.admin {
        display: none;
    }

    .blog-nav-item.photo_menu {
        display: none;
    }

    #diary_toggle {
        display: none;
    }

    #map_toggle {
        display: none;
    }

    #photos_page {
        display: none;
    }
}

/*
 * Global styles.
 */

html,
body {
    font-family: Georgia, serif;
    background-color:#f5f5f5 !important;
    height: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-weight: normal;
    color: #333;
}

a {
    color: #3B546F;
}

.blog-masthead {
    position:fixed !important;
    width: 100%;
    min-width: 380px;
    background-color: #3B546F;
    z-index:10001;
    position:relative; 
    height: 42px;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
    font-family: sans-serif;
    height: 42px;
}

.blog-nav-item a, .blog-nav-item a:hover, .blog-nav-item a:focus {
    color: inherit;
}

.blog-nav-item.menu:hover,
.blog-nav-item.menu:focus {
    color: #fff;
    cursor: pointer;    
    text-decoration: underline;
}

.dropdown-toggle {
    height: 0px;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

.blog-nav .top_level {
    font-weight: bold;
}

/*
 * Blog name and description
 */

.blog {
    padding-top:38px;
}

.diary {
    padding-left:25px;
    padding-right:25px;
}
.blog-header {
    margin-bottom: 16px;
    padding-left: 0px;
    height: 300px;
    width: 100%;
}

.blog-title, .blog-header .blog-description {
    margin-left: 16px;
    text-shadow: white 0px 0px 6px;
    color: black;
    font-size: 32px;
    font-family: sans-serif;
}

.blog-title {
    padding-top: 1em;
    font-weight: normal;
}

.blog-title h1 {
}

.blog-title .dates {
    font-size:24px;
}

.blog-description {
    font-size: 20px;
    color: #999;
    font-family: verdana;
}

.advice {
    display:none;
}

/*
 * Main column and sidebar layout
 */
.container.blog {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.blog-main {
    float:left;
    /*    width: 75%; -> Moved to media section */ 
    font-size: 16px;
    line-height: 1.5;
    padding-right: 15px;
}

.sidebar {
    width: 25%;
    float:right;
    padding-right:0px;
    font-family: sans-serif;
    height: 100%;
}

.sidebar a {
    color: #3b546f;
}
/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 0 15px;
    margin-right: 0px;
    width: 100%;
}
.sidebar-module-inset {
    padding: 15px;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.sidebar-module.records li {
    margin-bottom: 6px;
}
.sidebar-module.records li:after {
    content:"";
    border-top: dotted 1px silver;
    display: block;  
} 
.sidebar-module.records li:last-child:after {
    border: none;
}
.sidebar-module .current {
    font-weight: bold;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */
.blog-description {
    margin-left: 10px;
    font-size:smaller;
    font-family: verdana;
    margin-bottom: 10px;
    color: black;
}

.blog-main .record_nav {
    margin-bottom: 16px;
}
.blog-main .record_nav a {
    vertical-align: middle;
}

.blog-main .record_nav .prev {
    float:left;
    display:inline-block;
}

.blog-main .record_nav .next {
    float:right;
    display:inline-block;
}

.blog-main .record_nav .anchor {
    display: inline;
    position: relative;
    top: -50px;
    visibility: hidden;    
}

.blog-post-title a:hover {
    text-decoration: none;
}

.blog-post {
    margin-bottom: 40px;
    clear:both;
}

.blog-post .anchor {
    display: block; position: relative; top: -64px; visibility: hidden;
}
.blog-post-title h2 {
    color: #3b546f;    
    margin-bottom: 5px;
}

.blog-post-meta {
    font-size:smaller;
    font-family: verdana;
    margin-bottom: 20px;
    color: #999;
}

.blog-post .todo {
    color: lightblue;
    font-style: italic;
}

.blog-post .body {
    font-size: 20px;
    font-family: serif;
}

.blog-post .body .quote {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #f0f0f0;
    font-style: italic;
    border-radius: 4px;  
    clear: both;
}

/*
 * Image gallery
 */
.img-box {
    text-align: center;
    width:100%;
    margin-bottom: 1em;
}

.img-box .content {
    position: relative;
    width: 75%;
    margin: auto;
}

.img-box .content .controls {

}

.img-box .content .controls div {
    width: 40px;
    height: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    vertical-align: middle;
    position: absolute;
    top:50%;    
    vertical-align: middle;
    font-weight: 100;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 40px;
    z-index: 10000;
}

.img-box .content .controls div:hover {
    color: rgba(255, 255, 255, 0.95);    
    cursor: pointer;
}

.img-box .content .controls div:active {
    color: rgba(225, 225, 225, 0.95);    
    cursor: pointer;
}

.img-box .content .controls .prev {
    left: 0px;
}

.img-box .content .controls .next {
    right: 0px;        
}

.gallery_item .data-title, .gallery .data-title {
    display:none;
}

.img-box .content .gallery_item {
    display: none;
}

.img-box .content .gallery_item.active {
    display: block;
}

.img-box .content .gallery_item .empty_image {
   min-width: 255px;
   min-height: 255px;
   background-color: #fafafa;
}

.img-box .content .header {
    border: solid 1px red;
    position: absolute;
    top:0px;
}

.img-box img {
    border: solid 1px silver;    
    width:100%;
}

.img-box .caption { 
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border: solid 1px silver;
    border-top: none;
    padding: 4px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-menu {
    padding-left: 4px;
    padding-right: 4px;
}

.login-menu button {
    float:right;
    color: black;
}
.login:hover {
    text-decoration: none;
}
.login-menu input {
    color: black;
    clear: both;
    border: solid 1px darkgray;
    margin-bottom: 2px;
    padding: 0.25em;
    width: 100%;
}

.blog-post .body>p:first-of-type {
    text-indent: 0;
}

.blog-post .footer {
    clear: both;
    font-family: sans-serif;
}

.blog-post .footer .photos a {
    margin-left:6px;
}

.blog-post .footer .sections .section {
    display: none;
    margin-top: 8px;
}

.blog-post .footer .sections a.button  {
    position: relative;
    display: inline-block;
    color: white;
    border-radius: 4px;
    width:150px;
    background: #3B546F;
    text-align: center;
    line-height: 1.7em;
    border-bottom: solid 2px #1B344F;
    text-decoration: none;
}

.blog-post .footer .sections a.button .right {
    display: inline-block;
    text-align:center;
    padding: 0px 0 0px 10px;
    height: 100%;
    float:right;
    padding-right: 1em;
    border-left: 1px solid #1B344F;
}

.blog-post .footer .sections a.button:hover {
    text-decoration: none;
}

.blog-post .footer .sections a.button:active {
    top:2px;
    border-bottom: none;
}
/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.gallery {
    line-height: 0px;
    -webkit-column-count: 9;
    -webkit-column-gap:   0px;
    -moz-column-count:    9;
    -moz-column-gap:      0px;
    column-count:         9;
    column-gap:           0px;
}

.gallery a {
    margin: 0px !important;
}

.gallery img {
    display:inline;
    height: auto;
    padding:1px;
    width: 100%;
}
/* expences */
.price {
    white-space: nowrap;
}

.expence_type {
    text-align:center;
    font-family: sans-serif;
}

/*
 * Map styles
 */
.page.map {
    position:static;
    width: 100%;
}
.map {
    display: none;
    background-color:#B5D0D0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top:32px;
}

.map.full {
    width: 100%;
    left: 0px;
}
.map.split {
    left: 0px;
}

.page.map .map_sidebar {
    position:absolute;
    right:0px;
    background-color: white;
    margin-bottom: 0px;
    display:none;
    z-index: 2;
}

.page.map .map_sidebar .blog-post.diary  {
    overflow-y: auto;
    height: 100%;
}

.page.map .map_sidebar .blog-post {
    margin-bottom: 0px;
}

.page.map .map_sidebar .hide_button {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 6px;
    background-color: white;
    border-radius: 6px;
    text-align:center;
    z-index: 0;
}

.crosshair {
    position: absolute;
    margin:auto;
    top:32px;
    left: 0px;
    right:0px;
    bottom: 0px;
    pointer-events:none;
    z-index: 99999;
}


.point_popup {
    position: relative;
    width: 300px;
    min-height: 20px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.point_popup:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -20px;
    left: 50%;
}

.point_popup .point_record {
    width: 100%;
}

.point_popup .point_name {
    width: 100%;
    margin-top: 0.5em;
}

/*
 * Editor and admin page
 */
.editable {
    float: left;
}

.blog-header .editable {
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(20, 20, 20, 0.5);
}

.new_record {
    width: 100%;
    line-height: 32px;
    padding: 32px;
    border: solid 1px silver;
}

.editor {
    margin-top: 1em;
}

.editor .row {
    margin-bottom: 4px;
}

.editor .row input, textarea {
    padding: 0.25em;
    width: 100%;
}

.editor .row.date input {
    width: 100px;
}

.editor .row textarea {
    height: 400px;
}


.editor .row input[type='checkbox'] {
    width: auto;
}

.editor .row.charmap span {
    border: solid 1px silver;
    width: 24px; 
    height: 24px;
    text-align: center;
    display:inline-block;
    font-size: 16px;
}

.editor .row.charmap span:active {  
    background: darkgray;
}

.editor .pictures .picture {
    display: inline-block;
    margin: 2px;
    max-width: 160px;
}

.editor .pictures .picture.remote {
    border:solid 1px #abcdef;
}

.editor .pictures .picture .thumbnail {
    margin-bottom: 0px;
    position: relative;
    max-width: 160px;
    max-height: 160px;    
    width: 160px;
    height: 160px;
    padding: 0px;
    overflow:hidden;
}
.editor .pictures .picture .thumbnail .info {
    font-family: monospace;
    position: absolute;
    top:0px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: solid 1px silver;
    border-right: solid 1px silver;
}

.editor .pictures .picture .thumbnail .info.right {
    right:0px;
}

.editor .pictures .picture .thumbnail .info.left {
    left:0px;
}

.editor .pictures .picture .editor {
    display: none;
} 

.editor .pictures .selected_photos  {
    padding: 6px;
    border: solid 1px silver;
    margin-bottom:10px;
    margin-top: 10px;
}

.editor .pictures .picture .title {
    text-align: center;
}


.editor .uploader {
    border: solid 1px silver;
    margin-bottom: 10px;
    clear: both;
    padding: 10px;
}

.editor .uploader.img-uploader {
    display:none;
}

.editor .content .row {
    width: 100%;
    margin-left: 0px;
}
.editor .content {
    background: #fafafa;
    border:solid 1px #f0f0f0;
    padding: 6px;
    margin-bottom: 6px;
}

.editor .header-image {
    width: 100%;
    border: solid 1px silver;
}

.editor .header-image img {
    max-width: 100%;
}

.editor .content .header {
    width: 100%;
    display:block;
}

.editor .content .data {
    display: none;
}

.editor .header_toggler {
    cursor: pointer;
}

.editor .header_toggler:hover {
    color: #707070;
}

.editor .header_toggler:active {
    color: #303030;
}

.editor .content .page {
    display: none;
    border: solid 1px silver;
    padding: 10px;
}

.icon_box {
    width: 318px;
    border: solid 1px silver;
    background-color: white;
    display: none;
    position: absolute;
}

.icon_box .icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.icon_box .icon {
    width: 32px;
    height: 37px;
}
.content.points table {
    width: 100%;
}

.content.points table input {
    width: 100%;
}

.content.points .item-apply {
    display: none;
}

/* map editor (see media section) */
.editor_controls .control {
    border: solid 1px #abcdef;
    margin: 3px;
    padding: 2px;
    background-color: white;
}

.editor_controls .control:hover {
    background-color: #abcdef;
    cursor: pointer;
}

.editor_controls .control:active, .editor_controls .control.down {
    background-color: #89abcd;
}

.editor_controls .coords {
    display: none;
}

.editor_controls .title {
    width: 100%;
    padding: 2px;
    margin: 3px;
}

.editor_controls .tracks .track {
    margin: 3px;
    padding: 2px;
}

.editor_controls .tracks .track .title {
    width: auto;
    display: inline-block;
} 
/*
Drag and drop
*/

.editor .pictures .picture.over {
    border: 2px dashed #000;
}

/*
Comments
*/
.vk_comments {
    float:left;
    margin-top: 16px;
    margin-bottom: 16px;
    clear: both;
    width: 100%;
}

.editor_comment {
    border: dotted 1px grey;
    background-color: lightyellow;
}

.tag_error {
    background: salmon;
}

.point_description {
    display:inline-block;
}

.point_description.editor_comment {
    border: dotted 1px grey;
    background-color: moccasin;    
}

.warning {
    border: solid 3px red;
    background-color: yellow;
}

.has_description {
    text-decoration: underline;
}

.map_sidebar .content {
    font-size: 16px;
}

/*
Gallery photo footer
*/
.lb-details .author, .data-title .author {
    display: inline-block;
}

.lb-caption a {
    color: white;
    text-decoration: underline;
}

/*
Admin page
*/

.files tbody {
    font-family: monospace;
}

.files tbody td:first-child {
    text-align: right;
}

/*
Title page
*/
.diary_trips {
    background-color: white;
    width: 100%; 
}

.trips_grid {
    font-family: sans-serif;
    text-align: center;
    font-size: 0px;
}

.trips_grid .cards {
    margin:10px;    
    display:inline-block;
}
.trips_grid .card {
    margin:0px;
    padding: 0px;
    position:relative;    
    display: inline-block;
    /*width:300px;    */
}

.trips_grid .card:hover { transform: scale(1.01); }

.trips_grid .card .title {
    font-size:18px;
    z-index: 1001;
    position: absolute;
    bottom:0px;
    width: 300px;
    background-color: rgba(25,25,25,0.8);
    color: white;
    padding: 10px;
}

.trips_grid .card .picture {
    width: 100%;
    overflow:hidden;
    height: 300px;
    width: 300px;    
}

.trips_grid .card .picture .border {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.trips_grid .card .picture img {

}

.box-shadow-menu img {
    height: 24px;
}

.narrow_menu {
    width: 34px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaGVpZ2h0PSIzMnB4IiB3aWR0aD0iMzJweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiIHN0eWxlPSJmaWxsOiNmZmZmZmYiIC8+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
}

.locales .dropdown-menu {
    min-width: 32px;
}

.locales .locale {
    background-image: url(/img/flags.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-toggle.locale {
    background: none;
}

.locales li a .locale {
    background-size: 64px;
    width:32px;
    height:32px;
    display:inline-block;    
}

.locales .locale.ru {
    background-position: 0px 0px;
}

.locales .locale.en {
    background-position: -32px 0px;
}