<%@ page pageEncoding="UTF-8" %>
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter25966441 = new Ya.Metrika({id: 25966441, clickmap: true, trackLinks: true, accurateTrackBounce: true});
                    } catch (e) {
                    }
                });
                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                    n.parentNode.insertBefore(s, n);
                };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25966441" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->       
        <script>
            var tripId = "${trip.id}";
            <sec:authorize access="hasAuthority('editor')">
            var editor = true;
            </sec:authorize>
            <sec:authorize access="hasAuthority('ROLE_ANONYMOUS')">
            var editor = false;
            </sec:authorize>
        </script>           
        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
        <link rel="stylesheet" property='stylesheet' href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>          
        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
        <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
        <script src="/js/script.min.js"></script>                         
    </body>
</html>
