<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<div class='record_nav'>
    <a href="#" id="page_top" class="anchor" style="visibility: hidden">Check</a>
    <c:if test="${prevRecord != null}">
        <div class="prev">
            <a href="/${trip.id}/${prevRecord.shortcut}/">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                ${prevRecord.title}
            </a>
        </div>
    </c:if>
    <c:if test="${nextRecord != null}">
        <div class="next">
            <a href="/${trip.id}/${nextRecord.shortcut}/">
                ${nextRecord.title} 
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </a>
        </div>
    </c:if>
    <div style="clear:both;"></div>
</div>   