<%@ page pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="s" uri="http://www.springframework.org/tags" %>
<div id="trips" class="sidebar-module trips">
    <h4><s:message code="sidebar.trips" /></h4>
    <ol class="list-unstyled">
        <c:forEach var="atrip" items="${trips}">
            <li <c:if test="${trip.id == atrip.id}">class="current"</c:if>>
                <a href="/${atrip.id}/">${atrip.shortTitle}</a>
            </li>
        </c:forEach>
    </ol>
</div>
<div id="links" class="sidebar-module records">
    <h4><s:message code="sidebar.records" /></h4>
    <ol class="list-unstyled">
        <c:forEach var="record" items="${headers}">
            <li>
                <c:if test="${record.draft}">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true" title="Черновик. Видно только редакторам."></span>
                </c:if>
                <c:if test="${allRecords}">
                    <a href="#${record.shortcut}">${record.title}</a>
                </c:if>
                <c:if test="${!allRecords}">
                    <a href="/${trip.id}/${record.shortcut}/#page_top" <c:if test="${currentRecord.id == record.id}">class='current'</c:if>>${record.title}</a>
                </c:if>                    
            </li>
        </c:forEach>
    </ol>
</div>